.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #0331c9, #09173f); /* gradiente azul moderno */
  color: white;
  padding: 20px;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sidebar.closed {
  width: 0px;
  padding: 0;
}

.content h2 {
  margin: 60px 0px 20px 60px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 5px 0px 0px 0px;
}

.content li {
  margin-bottom: 15px;
}

.content a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.content a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateX(4px);
}

.icon {
  font-size: 1.3rem;
  min-width: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    padding: 20px;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.open {
    left: 0;
  }

  /* Overlay */
  .overlay {
    display: none;
  }

  .showOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: opacity 0.3s ease;
  }
}
